<div class="dashboard-container">

  <div class="dashboard-actions">

    <div class="context-selectors">

      <div class="dropdown-btn">
        {{ selectedCore || 'Select Core' }}

        <span class="arrow" *ngIf="!selectedCore">▼</span>

        <select [(ngModel)]="selectedCore" (ngModelChange)="onCoreChange($event)">
          <option [ngValue]="null" disabled>Select Core</option>

          <option *ngFor="let core of coreList" [value]="core.name">
            {{ core.name }}
          </option>
        </select>
      </div>


      <div class="dropdown-btn">
        {{ selectedChip || 'Select Chip' }}
        <span class="arrow" *ngIf="!selectedChip">▼</span>

        <select [(ngModel)]="selectedChip" (ngModelChange)="onChipChange($event)">
          <option [ngValue]="null" disabled>Select Chip</option>

          <option *ngFor="let chip of chipList" [value]="chip.name">
            {{ chip.name }}
          </option>
        </select>
      </div>

    </div>


    <button class="table-btn" routerLink="/dashboard/table" routerLinkActive="active">
      Core Mapping
    </button>

    <button class="logout-btn" (click)="openLogoutModal()">
      Logout
    </button>

    <div class="modal-backdrop" *ngIf="showConfirm">
      <div class="modal">
        <p>Are you sure you want to logout?</p>

        <div class="modal-actions">
          <button class="ok" (click)="confirmLogout()">Yes</button>
          <button class="cancel" (click)="cancelLogout()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs" *ngIf="!isOnTablePage">
    <button class="tab-btn" [class.active]="activeTab === 'dragon'" [disabled]="!isContextReady()"
      (click)="setActiveTab('dragon')">
      Dragon Gate
    </button>

    <button class="tab-btn" [class.active]="activeTab === 'dv'" [disabled]="!isContextReady()"
      (click)="setActiveTab('dv')">
      DV Uflow
    </button>

    <button class="tab-btn" [class.active]="activeTab === 'qvd'" [disabled]="!isContextReady()"
      (click)="setActiveTab('qvd')">
      QVD Summary
    </button>
  </div>

  <ng-container *ngIf="isContextReady() && activeTab === 'dragon'">
    <app-dragon-gate></app-dragon-gate>
  </ng-container>

  <ng-container *ngIf="isContextReady() && activeTab === 'dv'">

    <app-dv-uflow></app-dv-uflow>
  </ng-container>

  <ng-container *ngIf="isContextReady() && activeTab === 'qvd'">
    <app-qvd-summary></app-qvd-summary>
  </ng-container>
  <router-outlet></router-outlet>
</div>