<div *ngIf="vm$ | async as vm">
  <div *ngIf="vm.state === 'loading'" class="loading-container">
    <div class="spinner"></div>
  </div>

  <div *ngIf="vm.state === 'error'" class="error">
    {{ vm.error }}
  </div>

  <ng-container *ngIf="isLoaded(vm)">

    <table class="dg-table">

      <thead>
        <tr>
          <th *ngFor="let h of vm.headers; trackBy: trackByHeader">
            {{ h.headerName }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of vm.rows; trackBy: trackByRow">
          <td *ngFor="let h of vm.headers; trackBy: trackByHeader">
            {{ r[h.field] }}
          </td>
        </tr>
      </tbody>

    </table>

  </ng-container>

</div>
