.q-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  z-index: 3000;
}

.app-content {
  padding-top: 64px; /* ← THIS fixes logout */
}

.q-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  
}

.logo-img {
  height: 32px;
  width: auto;
}

.logout-btn{
  cursor: pointer;
}

.header-actions {
  margin-left: auto;
}

.modal-backdrop{
  z-index: 1000;
}